:root[data-mantine-color-scheme='dark'] {
  --primary-50: #3c0366;
  --primary-100: #59168b;
  --primary-200: #6e11b0;
  --primary-300: #8200db;
  --primary-400: #9810fa;
  --primary-500: #ad46ff;
  --primary-600: #c27aff;
  --primary-700: #dab2ff;
  --primary-800: #e9d4ff;
  --primary-900: #f3e8ff;
  --primary-950: #faf5ff;

  --secondary-50: #0d333f;
  --secondary-100: #1c4e5d;
  --secondary-200: #1d5d6d;
  --secondary-300: #197285;
  --secondary-400: #168fa4;
  --secondary-500: #19c1d4;
  --secondary-600: #33cedd;
  --secondary-700: #73e4ed;
  --secondary-800: #acf1f5;
  --secondary-900: #d3f8fa;
  --secondary-950: #eefdfd;

  --red-50: #460809;
  --red-100: #82181a;
  --red-200: #9f0712;
  --red-300: #c10007;
  --red-400: #e7000b;
  --red-500: #fb2c36;
  --red-600: #ff6467;
  --red-700: #ffa2a2;
  --red-800: #ffc9c9;
  --red-900: #ffe2e2;
  --red-950: #fef2f2;

  --orange-50: #441306;
  --orange-100: #7e2a0c;
  --orange-200: #9f2d00;
  --orange-300: #ca3500;
  --orange-400: #f54900;
  --orange-500: #ff6900;
  --orange-600: #ff8904;
  --orange-700: #ffb86a;
  --orange-800: #ffd6a8;
  --orange-900: #ffedd4;
  --orange-950: #fff7ed;

  --yellow-50: #432004;
  --yellow-100: #733e0a;
  --yellow-200: #894b00;
  --yellow-300: #a65f00;
  --yellow-400: #d08700;
  --yellow-500: #f0b100;
  --yellow-600: #fdc700;
  --yellow-700: #ffdf20;
  --yellow-800: #fff085;
  --yellow-900: #fef9c2;
  --yellow-950: #fefce8;

  --blue-50: #162456;
  --blue-100: #1c398e;
  --blue-200: #193cb8;
  --blue-300: #1447e6;
  --blue-400: #155dfc;
  --blue-500: #2b7fff;
  --blue-600: #51a2ff;
  --blue-700: #8ec5ff;
  --blue-800: #bedbff;
  --blue-900: #dbeafe;
  --blue-950: #eff6ff;

  --green-50: #032e15;
  --green-100: #0d542b;
  --green-200: #016630;
  --green-300: #008236;
  --green-400: #00a63e;
  --green-500: #00c950;
  --green-600: #05df72;
  --green-700: #7bf1a8;
  --green-800: #b9f8cf;
  --green-900: #dcfce7;
  --green-950: #f0fdf4;

  --indigo-50: #1e1a4d;
  --indigo-100: #312c85;
  --indigo-200: #372aac;
  --indigo-300: #432dd7;
  --indigo-400: #4f39f6;
  --indigo-500: #615fff;
  --indigo-600: #7c86ff;
  --indigo-700: #a3b3ff;
  --indigo-800: #c6d2ff;
  --indigo-900: #e0e7ff;
  --indigo-950: #eef2ff;

  --violet-50: #2f0d68;
  --violet-100: #4d179a;
  --violet-200: #5d0ec0;
  --violet-300: #7008e7;
  --violet-400: #7f22fe;
  --violet-500: #8e51ff;
  --violet-600: #a684ff;
  --violet-700: #c4b4ff;
  --violet-800: #ddd6ff;
  --violet-900: #ede9fe;
  --violet-950: #f5f3ff;

  --pink-50: #510424;
  --pink-100: #861043;
  --pink-200: #a3004c;
  --pink-300: #c6005c;
  --pink-400: #e60076;
  --pink-500: #f6339a;
  --pink-600: #fb64b6;
  --pink-700: #fda5d5;
  --pink-800: #fccee8;
  --pink-900: #fce7f3;
  --pink-950: #fdf2f8;

  --gray-50: #09090b;
  --gray-75: #121214;
  --gray-100: #18181b;
  --gray-200: #27272a;
  --gray-300: #3f3f47;
  --gray-400: #52525c;
  --gray-500: #71717b;
  --gray-600: #9f9fa9;
  --gray-700: #d4d4d8;
  --gray-800: #e4e4e7;
  --gray-900: #f4f4f5;
  --gray-950: #fafafa;

  --surface-raised: var(--gray-100);
  --surface: var(--gray-75);
  --surface-muted: var(--gray-50);

  --primary: var(--primary-500);
  --primary-hover: var(--primary-600);

  --secondary: var(--secondary-500);
  --secondary-hover: var(--secondary-600);

  --red: var(--red-500);
  --red-hover: var(--red-600);

  --green: var(--green-500);
  --green-hover: var(--green-600);

  --yellow: var(--yellow-500);
  --yellow-hover: var(--yellow-600);

  --orange: var(--orange-500);
  --orange-hover: var(--orange-600);

  --blue: var(--blue-500);
  --blue-hover: var(--blue-600);

  --indigo: var(--indigo-500);
  --indigo-hover: var(--indigo-600);

  --violet: var(--violet-500);
  --violet-hover: var(--violet-600);

  --pink: var(--pink-500);
  --pink-hover: var(--pink-600);

  --gray: var(--gray-500);
  --gray-hover: var(--gray-600);
}
