:root {
  --primary-50: #faf5ff;
  --primary-100: #f3e8ff;
  --primary-200: #e9d4ff;
  --primary-300: #dab2ff;
  --primary-400: #c27aff;
  --primary-500: #ad46ff;
  --primary-600: #9810fa;
  --primary-700: #8200db;
  --primary-800: #6e11b0;
  --primary-900: #59168b;
  --primary-950: #3c0366;

  --secondary-50: #eefdfd;
  --secondary-100: #d3f8fa;
  --secondary-200: #acf1f5;
  --secondary-300: #73e4ed;
  --secondary-400: #33cedd;
  --secondary-500: #19c1d4;
  --secondary-600: #168fa4;
  --secondary-700: #197285;
  --secondary-800: #1d5d6d;
  --secondary-900: #1c4e5d;
  --secondary-950: #0d333f;

  --red-50: #fef2f2;
  --red-100: #ffe2e2;
  --red-200: #ffc9c9;
  --red-300: #ffa2a2;
  --red-400: #ff6467;
  --red-500: #fb2c36;
  --red-600: #e7000b;
  --red-700: #c10007;
  --red-800: #9f0712;
  --red-900: #82181a;
  --red-950: #460809;

  --orange-50: #fff7ed;
  --orange-100: #ffedd4;
  --orange-200: #ffd6a8;
  --orange-300: #ffb86a;
  --orange-400: #ff8904;
  --orange-500: #ff6900;
  --orange-600: #f54900;
  --orange-700: #ca3500;
  --orange-800: #9f2d00;
  --orange-900: #7e2a0c;
  --orange-950: #441306;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c2;
  --yellow-200: #fff085;
  --yellow-300: #ffdf20;
  --yellow-400: #fdc700;
  --yellow-500: #f0b100;
  --yellow-600: #d08700;
  --yellow-700: #a65f00;
  --yellow-800: #894b00;
  --yellow-900: #733e0a;
  --yellow-950: #432004;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bedbff;
  --blue-300: #8ec5ff;
  --blue-400: #51a2ff;
  --blue-500: #2b7fff;
  --blue-600: #155dfc;
  --blue-700: #1447e6;
  --blue-800: #193cb8;
  --blue-900: #1c398e;
  --blue-950: #162456;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #b9f8cf;
  --green-300: #7bf1a8;
  --green-400: #05df72;
  --green-500: #00c950;
  --green-600: #00a63e;
  --green-700: #008236;
  --green-800: #016630;
  --green-900: #0d542b;
  --green-950: #032e15;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c6d2ff;
  --indigo-300: #a3b3ff;
  --indigo-400: #7c86ff;
  --indigo-500: #615fff;
  --indigo-600: #4f39f6;
  --indigo-700: #432dd7;
  --indigo-800: #372aac;
  --indigo-900: #312c85;
  --indigo-950: #1e1a4d;

  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6ff;
  --violet-300: #c4b4ff;
  --violet-400: #a684ff;
  --violet-500: #8e51ff;
  --violet-600: #7f22fe;
  --violet-700: #7008e7;
  --violet-800: #5d0ec0;
  --violet-900: #4d179a;
  --violet-950: #2f0d68;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fccee8;
  --pink-300: #fda5d5;
  --pink-400: #fb64b6;
  --pink-500: #f6339a;
  --pink-600: #e60076;
  --pink-700: #c6005c;
  --pink-800: #a3004c;
  --pink-900: #861043;
  --pink-950: #510424;

  --gray-50: #fafafa;
  --gray-75: #f7f7f7;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #9f9fa9;
  --gray-500: #71717b;
  --gray-600: #52525c;
  --gray-700: #3f3f47;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #09090b;

  --surface-raised: white;
  --surface: var(--gray-50);
  --surface-muted: var(--gray-100);

  --primary: var(--primary-600);
  --primary-hover: var(--primary-700);

  --secondary: var(--secondary-600);
  --secondary-hover: var(--secondary-700);

  --red: var(--red-600);
  --red-hover: var(--red-700);

  --green: var(--green-600);
  --green-hover: var(--green-700);

  --yellow: var(--yellow-600);
  --yellow-hover: var(--yellow-700);

  --orange: var(--orange-600);
  --orange-hover: var(--orange-700);

  --blue: var(--blue-600);
  --blue-hover: var(--blue-700);

  --indigo: var(--indigo-600);
  --indigo-hover: var(--indigo-700);

  --violet: var(--violet-600);
  --violet-hover: var(--violet-700);

  --pink: var(--pink-600);
  --pink-hover: var(--pink-700);

  --gray: var(--gray-600);
  --gray-hover: var(--gray-700);
}
